

/*******************************************/
/*       Fade Bs-carousel articulo.html ****/
/*******************************************/

.carouselExampleCaptions{
    .carousel slide{
        .carousel-indicators{
            bottom: -50px;
            position: relative;
            
        }
        .carousel-inner{
            .carousel-item active{
                display: flex;
                justify-content: center;
                align-items: center;
                .d-block w-10{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .carousel-caption{
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    .d-none d-md-block{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .d-md-block{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                
            }
            .carousel-item{
                @extend .d-block;
                @extend .carousel-caption;
            }
        }
    .carousel-control-prev, .carousel-control-next{
        width: 5%;
        .carousel-control-prev-icon, .carousel-control-next-icon{
            background-color: black;
        }

    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: black;
        .carousel-control-next-icon{
            background-color: black;
        }
    }

}
}



