

/*******************************************/
/*       Fade Bs-carousel articulo.html ****/
/*******************************************/

.carousel {
    position: relative; 
    .carousel-item {
        display: none;
        position: relative;
        .d-block w-50 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}

