
/***********************************************/
/*       Grid */
/***********************************************/

.grid{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;
    span {
        padding: 8px 4px; 
        border-left: 2px solid aqua;
        border-bottom: 2px solid  aqua;
        background-color: rgba(108, 86, 249, 0.622);
            .columnas{
                text-align: center;
                
            }            
        }
    .grid-item{
        padding: 8px 4px;
        border-left: 2px solid aqua;
        border-bottom: 2px solid  aqua;
        background-color: rgba(108, 86, 249, 0.622);
        text-align: center;
        .columnas{
            text-align: center;
        }
    }
}



